/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container > div {
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

/* Prova pseudo-class per conferire questa caratteristica solo a determinati div */

/* .container > div:nth-of-type(odd) {
  background-attachment: fixed;
} */

.city-text {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  color: white;
  text-shadow: 3px 3px black;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-level {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

i {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
  text-shadow: 3px 3px black;
}

/* Prima città - Dubai */

.container .dubai {
  background-image: url("../img/dubai.jpg");
}

/* Seconda città - Cuba */

.container .cuba {
  background-image: url("../img/cuba.jpg");
}

/* Terza città - Bali */

.container .bali {
  background-image: url("../img/bali.jpg");
}

/* Quarta città - Kyoto */

.container .kyoto {
  background-image: url("https://images.unsplash.com/photo-1545569341-9eb8b30979d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

/* Hover testo */

.city-text:hover {
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

/* Go on top */

.kyoto i {
  position: absolute;
  top: 40%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  font-size: 2em;
  color: white;
  text-shadow: 3px 3px black;
}
