/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container > div {
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  position: relative;
}

.city-text {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Prima città - Dubai */

.container .dubai {
  background-image: url("https://images.unsplash.com/photo-1546412414-e1885259563a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Seconda città - Cuba */

.container .cuba {
  background-image: url("https://images.unsplash.com/photo-1503192851959-c6da8ac80cff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
